<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form th:action="@{/logout}" method="POST">
                    <button id = "logout" type="submit" class="btn btn-secondary float-right">Logout</button>
                </form>
            </div>
            <div id="contentDiv" style="clear: right;">
                <div th:if="${param.success}" class="alert alert-success fill-parent" id="notify-success">
                    <h1 class="display-5">Success</h1>
                    <span>Your changes were successfully saved.</span>
                </div>
                <div th:if="${param.error}" class="alert alert-danger fill-parent" id="notify-error">
                    <h1 class="display-5">Error</h1>
                    <span>Your changes were not saved.</span>
                </div>
                <nav style="clear: right;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link" id="nav-files-tab" href="/home" role="tab" aria-controls="nav-files" aria-selected="false">Files</a>
                        <a class="nav-item nav-link active" id="nav-memo-tab" href="/memo" role="tab" aria-controls="nav-memo" aria-selected="true">Memo</a>
                        <a class="nav-item nav-link" id="nav-credentials-tab" href="/credential" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    
                    <div class="tab-pane fade show active" id="nav-memo" role="tabpanel" aria-labelledby="nav-memo-tab">
                        <button id = "newmemo" style="margin: 0.25em;" type="button" class="btn btn-outline-primary float-right" onclick="showMemoModal()">
                            + Add a New Memo
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="userTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 5%" scope="col">#</th>
                                        <th style="width: 20%" scope="col">Title</th>
                                        <th style="width: 55%" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="memo, idx: ${memoLst}">
                                        <td>
                                            <button name="edit" th:onclick="javascript:showMemoModal([[${memo}]])" type="button" class="btn btn-success">Edit</button>
                                            <a name="delete" th:href="@{/memo/delete(id=${memo.memoid})}" class="btn btn-danger">Delete</a>
                                        </td>
                                        <th th:text="${idx.index + 1}"></th>
                                        <th th:text="${memo.memotitle}"></th>
                                        <td th:text="${memo.memodescription}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="memoModal" tabindex="-1" role="dialog" aria-labelledby="memoModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="memoModalLabel">Memo</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/memo}" method="POST">
                                            <input type="hidden" name="memoid" id="memo-id">
                                            <div class="form-group">
                                                <label for="memo-title" class="col-form-label">Title</label>
                                                <input type="text" name= "memotitle" class="form-control" id="memo-title" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="memo-description" class="col-form-label">Description</label>
                                                <textarea class="form-control" name="memodescription" id="memo-description" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="memoSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id = "save-changes" type="button" class="btn btn-primary" onclick="$('#memoSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!--For opening the memo modal-->
        <script type="text/javascript">
            // For opening the memo modal
            function showMemoModal(memo) {
                $('#memo-id').val(memo && memo.memoid ? memo.memoid : 0);
                $('#memo-title').val(memo && memo.memotitle ? memo.memotitle : '');
                $('#memo-description').val(memo && memo.memodescription ? memo.memodescription : '');
                $('#memoModal').modal('show');
            }
        </script>
    </body>
</html>